@using PostmanUI.Components

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postman UI</title>
    <script src="https://cdn.tailwindcss.com" suppress-error="BL9992"></script>
</head>

<body>
    <div id="container" class="w-full">
        <div class="flex flex-row justify-left bg-white shadow text-black p-2">
            <h1 class="text-lg font-bold">.NET Postman UI</h1>
        </div>
    </div>

    <Container />
</body>

</html>

