<div id="json-viewer" class="pt-4 text-lg"></div>


<script suppress-error="BL9992">

    let viewer = initializeJsonViewer();

    function initializeJsonViewer() {
        let viewer = new JsonViewer({ value: swaggerContent }).render('#json-viewer');
        return viewer;
    }

    function updateSwaggerDocument() {
        swaggerContent = { ...originalContent };

        let checkedPaths = {};
        document.querySelectorAll('input[name="paths"]:checked').forEach((checkbox) => {
            let pathKey = checkbox.value;
            if (swaggerContent.paths && swaggerContent.paths[ pathKey ]) {
                checkedPaths[ pathKey ] = swaggerContent.paths[ pathKey ];
            }
        });

        // Modify the Swagger object to keep only checked paths, and update the viewer
        swaggerContent.paths = checkedPaths;
        viewer = new JsonViewer({ value: swaggerContent }).render('#json-viewer');
    }
</script>



<style>
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
</style>